h1 {
  color: red;
  top-margin: 25pt;
}
.tuade {
  color: tomato;
  font-size: 15pt;
  font-family: Arial;
  font-weight: bold;
}
.noidung {
  color: green;
  top-margin: 6pt;
  font-size: 20pt;
  font-style: normal;
  font-family: "Times New Roman";
}
